#include <os2.h>

ICON 1 icons\ftepm.ico

BITMAP 101 bmps\exit.bmp
BITMAP 102 bmps\open.bmp
BITMAP 103 bmps\save.bmp
BITMAP 104 bmps\close.bmp
BITMAP 105 bmps\prev.bmp
BITMAP 106 bmps\last.bmp
BITMAP 107 bmps\next.bmp
BITMAP 108 bmps\undo.bmp
BITMAP 109 bmps\redo.bmp
BITMAP 110 bmps\cut.bmp
BITMAP 111 bmps\copy.bmp
BITMAP 112 bmps\paste.bmp
BITMAP 113 bmps\pastecol.bmp
BITMAP 114 bmps\errprev.bmp
BITMAP 115 bmps\errnext.bmp
BITMAP 116 bmps\tagfind.bmp
BITMAP 117 bmps\tagnext.bmp
BITMAP 118 bmps\tagprev.bmp
BITMAP 119 bmps\tagpop.bmp
BITMAP 120 bmps\reload.bmp
BITMAP 121 bmps\run.bmp
BITMAP 122 bmps\run2.bmp
BITMAP 123 bmps\run3.bmp

MENU 1
BEGIN
     MENUITEM "Quit", 100
END

STRINGTABLE
BEGIN
   102 "Open a file"
   103 "Save current file"
   104 "Close current file"
   105 "Previous file"
   106 "Last file"
   107 "Next file"
   108 "Undo"
   109 "Redo"
   110 "Cut"
   111 "Copy"
   112 "Paste stream"
   113 "Paste column"
   114 "Previous error"
   115 "Next error"
   116 "Choose/set tag"
   117 "Previous tag"
   118 "Next tag"
   119 "Remove tag from list"
   120 "Reload current file"
   121 "Run grep" 
   122 "Run Program"
   123 "Compile"
END

rcinclude pmdlg.rc
